## See https://github.com/github/gitignore for reference

## Eclipse.gitignore ###########################################################

#*.pydevproject
#.project
#.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
#.classpath
#.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
#*.launch

# CDT-specific
#.cproject

# PDT-specific
#.buildpath

## Java.gitignore ##############################################################

*.class

# Package Files #
*.jar
*.war
*.ear

## Python.gitignore ############################################################

*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

## PodSearch.gitignore #########################################################

static/3-Index
*.*~
src/Retrieval/Downloader/.cache/
src/Retrieval/Downloader/Feeds/.cache/
