[submodule "doc/lib/deck.js"]
	path = doc/lib/deck.js
	url = https://github.com/imakewebthings/deck.js.git
[submodule "doc/lib/deck.js-transition-cube"]
	path = doc/lib/deck.js-transition-cube
	url = https://github.com/mikeharris100/deck.js-transition-cube.git
[submodule "static"]
	path = static
	url = git@github.com:bigben87/PodSearch_Content.git
